In [8]:
import pandas as pd

In [9]:
df = pd.DataFrame({"index" : [1,1,1,2,2,2],
                  "column" : ['col_1', 'col_2', 'col_3', 'col_1', 'col_2', 'col_3'],
                  "value_1" : [1,2,3,4,5,6],
                  "value_2" : ['x', 'y', 'z', 'q', 'w', 't']})
df

   index column  value_1 value_2
0      1  col_1        1       x
1      1  col_2        2       y
2      1  col_3        3       z
3      2  col_1        4       q
4      2  col_2        5       w
5      2  col_3        6       t

In [10]:
df[0]

KeyError: 0

In [5]:
# pivot: index, column, values를 지정해 pivot
df.pivot(index = "index", columns = "column", values = "value_1")

column  col_1  col_2  col_3
index
1           1      2      3
2           4      5      6

In [6]:
# 다른 표현
df.pivot(index = "index", columns = "column")["value_1"]

column  col_1  col_2  col_3
index
1           1      2      3
2           4      5      6

In [1]:
a = {"a":1, "b":2}

In [2]:
a

{'a': 1, 'b': 2}

In [3]:
a.keys

In [4]:
a.keys = "a"

AttributeError: 'dict' object attribute 'keys' is read-only

In [5]:
a[a]

TypeError: unhashable type: 'dict'

In [6]:
a["a"]

1